$mobile-size: 480px;
$tablet-size: 768px;
$laptop-size: 1024px;
$desktop-size: 1200px;

$default-padding: 0 270px;
$default-padding-desktop: 0 200px;
$default-padding-laptop: 0 150px;
$default-padding-tablet: 0 100px;
$default-padding-mobile: 0 20px;
